a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Global */

html {
    font-size: 62.5%;
}
body {
    background-color: #090a1a;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

header {
    background-image: url(./assets/bg-elements-header-edited.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

main {
    background-image: url(./assets/bg-elements-main-edited-downsized.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1,
h2,
h3 {
    font-family: "Josefin Sans", sans-serif;
}

h2 {
    color: #6b84ff;
    font-size: 4.2rem;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    z-index: 0;
}

h2::after {
    content: "";
    height: 100px;
    width: 160px;
    background-color: #242b58;
    display: block;
    position: absolute;
    top: -50px;
    z-index: -1;
}

h2.right-heading {
    text-align: right;
}

h2.right-heading::after {
    right: -15px;
}

h2.left-heading::after {
    left: -15px;
}

p {
    color: #b0b0b2;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.lighter-text{
    color: #e2e2e3
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
    min-height: 100%;
    display: block;
}

.button-styling {
    flex-shrink: 0;
    border: #6b84ff 2px solid;
    height: 45px;
    width: 150px;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
}

button {
    background-color: inherit;
    color: inherit;
}

.button-styling:hover,
.button-styling:focus {
    background-color: #6b84ff;
}
/* Header */
/* Navbar */

nav {
    margin-top: 30px;
}

ul.nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 60%;
    margin: 0 0 0 auto;
}

.nav-items li:hover,
.nav-items li:focus {
    color: #6b84ff;
}

.nav-items li {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 0 20px;
}

.nav-items .button-styling {
    text-transform: none;
}

.nav-items .button-styling:hover,
.nav-items .button-styling:focus {
    color: #ffffff;
}

/* hero */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    position: relative;
}

.header-content::after {
    content: "";
    height: 300px;
    width: 150px;
    border-bottom: #242b58 solid 20px;
    border-left: #242b58 solid 20px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: -70px;
    z-index: -1;
}

h1 {
    font-weight: 300;
    font-size: 8.2rem;
    line-height: 10rem;
}

h1 span.greeting {
    color: #e2e2e3;
    font-weight: 600;
    display: block;
    font-size: 2.4rem;
    line-height: 5rem;
    padding-left: 60px;
}

h1 span.greeting::before {
    background-color: #6b84ff;
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    position: relative;
    left: -55px;
    bottom: -28px;
}

h1 span.job-title {
    font-weight: 700;
    display: block;
}

p.header-text {
    margin: 20px 0 40px 0;
}

.header-buttons :first-child {
    margin-right: 40px;
}

.header-image {
    width: 40%;
    border-bottom: #242b58 10px solid;
    position: relative;
    flex-shrink: 0;
}

/* silly little halo */

.header-image .halo {
    content: "";
    height: 40px;
    width: 10px;
    background-color: #242b58;
    display: block;
    position: absolute;
    z-index: -1;
}

.header-image .halo-1 {
    top: -5%;
    left: 32%;
    transform: rotate(-40deg);
}
.header-image .halo-2 {
    top: -12%;
    left: 42%;
    transform: rotate(-20deg);
}

.header-image .halo-3 {
    top: -12%;
    left: 55%;
    transform: rotate(20deg);
}

.header-image .halo-4 {
    top: -5%;
    left: 65%;
    transform: rotate(40deg);
}


/* header icons */



header ul.icon-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    right: 3vw;
    top: 35vh;
    height: 200px;
}

.icon-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #090a1a;
    background-color: #ffffff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 2rem;
}

.icon-list a{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-list button {
    border: none;
    background: none;
}

.icon-list li:hover,
.icon-list li:focus {
    color: #6b84ff;
}

header .icon-list li::after {
    content: "";
    width: 3vw;
    height: 1px;
    position: absolute;
    right: -3vw;
    border-bottom: dashed #242b58 3px;
}

ul.icon-list li:first-child {
    color: #ffffff;
    background-color: #090a1a;
    font-size: 3rem;
}

ul.icon-list li:first-child:hover,
ul.icon-list li:first-child:focus {
    background-color: #6b84ff;
}

.icon-list.mobile-icons{
    display: none;
}

/* About section */

section.about {
    margin: 100px auto;
}

div.about-content {
    margin: 150px 0 200px;
}

div.about-flex {
    /* border: solid tomato 2px; */
    display: flex;
    justify-content: space-between;
}

div.about-text {
    /* border: solid goldenrod 2px; */
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skill-gallery {
    /* border: solid green 2px; */
    width: 45%;
    padding: 30px 0;
    border-radius: 5%;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: 9rem;
    color: #ffffff;
    position: relative;
    background-color: #242b58;
}

.skill-gallery li:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.about h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #6b84ff;
    position: relative;
    
}


.about-buttons :first-child {
    margin-right: 40px;
}

/* portfolio */
.portfolio h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

.portfolio-gallery {
    display: flex;
    justify-content: space-between;
    margin: 150px 0 200px;
}

.portfolio-gallery li {
    width: 30%;
}

.portfolio-gallery .image-wrapper {
    border-radius: 5%;
    overflow: hidden;
}

.portfolio-text{
    padding: 3px;
}

.portfolio-gallery h3 {
    margin-top: 30px;
}

.portfolio-links {
    font-size: 2.6rem;
    text-align: center;
}
.portfolio-links a {
    display: inline-block;
    margin: 10px 15px 0;
}
.portfolio-links a:hover,
.portfolio-links a:focus {
    color: #6b84ff;
}

.portfolio p {
    position: relative;
    padding-left: 35px;
}

.portfolio p::before {
    background-color: #ffffff;
    display: inline-block;
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    left: 0px;
    top: 10px;
}

/* testimonials will go here if i add them */

/* contact */
.contact-content {
    display: flex;
    justify-content: space-between;
    margin: 150px 0;
}

.contact-content form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-content form input,
.contact-content form textarea {
    background-color: transparent;
    color: #e2e2e3;
    border: none;
    border-bottom: #242b58 solid 2px;
    font-size: 1.6rem;
    resize: none;
    font-family: "Josefin Sans", sans-serif;
}

.contact-content form input {
    line-height: 4.2rem;
}

.contact-content textarea {
    padding: 15px 0;
}

.contact-content form input::placeholder,
.contact-content form textarea::placeholder {
    color: #b0b0b2;
}

.contact-content button {
    margin-top: 50px;
}

.contact-content .image-wrapper {
    width: 40%;
    border-bottom: 10px #242b58 solid;
    border-right: 10px #242b58 solid;
    position: relative;
}

/* silly pointer sunburst */
.sunburst {
    content: "";
    height: 5px;
    width: 20px;
    background-color: #242b58;
    display: block;
    position: absolute;
    z-index: -1;
    left: -3%;
}

.sunburst-1 {
    top: 50%;
    transform: rotate(-30deg);
}

.sunburst-2 {
    top: 46%;
    left: -5%;
}

.sunburst-3 {
    transform: rotate(40deg);
    top: 42%;
}

/* footer */

footer {
    border-top: #242b58 solid 2px;
    height: 70px;
}

footer .icon-list {
    width: 180px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .icon-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #090a1a;
    background-color: #ffffff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 2rem;
}

@media (max-width: 1025px) {
    /* header adjustments */
    /* taking out header image */
    .header-image {
        display: none;
    }

    /* about me */
    /* moving the skill gallery below the text and  adjusted the spacing to accomodate that*/
    .about-flex {
        flex-direction: column;
    }

    div.about-text {
        width: 100%;
        margin: 20px 0;
    }

    .about-text p {
        margin: 5px 0;
    }
    .skill-gallery {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border-radius: 20px;
        margin-bottom: 25px;
    }

    div.about-buttons {
        text-align: center;
    }

    /* portfolio */
    /* columning it */
    .portfolio p {
        padding-left: 0;
    }

    .portfolio p::before {
        display: none;
    }

    .portfolio-gallery {
        flex-direction: column;
        margin-bottom: 120px;
    }

    .portfolio-gallery li {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    /* contact */

    .contact-content {
        margin-top: 100px;
    }

    .contact .image-wrapper {
        display: none;
    }

    .contact form {
        width: 100%;
    }

    .contact form button {
        text-align: center;
        margin: 50px auto 0;
    }
}

@media (max-width: 768px) {
    .nav-items li {
        display: none;
    }

    .nav-items li:last-child {
        display: block;
        margin: 0;
    }

    div.about-content {
        margin: 50px 0 150px;
    }

    ul.portfolio-gallery,
    div.contact-content {
        margin: 50px 0 100px;
    }

}

@media(max-width: 700px){
    .header-content::after {
        display: none;
    }
    .skill-gallery{
        font-size: 5rem;
    }
}

@media(max-width: 500px){
    .icon-list.desktop-icons{
        display: none;
    }

    .icon-list li::after{
        display: none;
    }

    .icon-list.mobile-icons{
        display:flex;
    }

    header ul.icon-list{
        position:static;
        flex-direction: row;
        width: 180px;
        height: auto;
    }
    h1{
        font-size: 6rem;
        line-height: 7rem;
    }
}


@media(max-width: 430px){
    .header-buttons,
    div.about-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-buttons a,
    .header-buttons a:first-child,
    div.about-buttons a,
    div.about-buttons :first-child{
        margin: 10px 0;
    }

    .header-content{
        height: 700px;
    }
}

@media(max-width: 350px){
    h1{
        font-size: 5rem;
        line-height: 5.5rem;
    }

    h1,
    header p{
        text-align: center;
    }

    ul.icon-list{
        margin: 0 auto;
    }

    h1 span.greeting::before{
        display: none;
    }

    h1 span.greeting{
        padding: 0;
    }

}

/* ANIMATION */

/* @keyframes flicker{
    0%{
        background-color: transparent;
    }

    25%{
        background-color: #242b58;
    }
    50%{
        background-color: transparent;
    }

    75%{
       background-color: #242b58;
    }
    100%{
        background-color: transparent;
    }

}

/* original animation plan */
.halo{
    animation: flicker 5s linear infinite;
}

.sunburst{
    animation: flicker 5s linear infinite;
} */

@keyframes halo-1{
    0%{
        background-color: #242b58;
    }
    25%{
        background-color: transparent;
    }
    75%{
        background-color:transparent;
    }
    100%{
        background-color: #242b58
    }
}

.halo-1{
    animation: halo-1 4s linear infinite;
}




@keyframes pop-in{
    0%{
        right: -15px;
    }

    100%{
        right: 3vw;
    }
}

.icon-list.desktop-icons{
    animation: pop-in 0.7s ease-out;
}


.skill-gallery i{
    transition: 0.8s all;
}

.skill-gallery i:hover{
    color:#6b84ff;
    transform: scale(1.2);
}


.button-styling,
nav li,
.icon-list li,
.portfolio-links a{
    transition: 0.3s all;
}

@keyframes slide-in-line{
    0%{
        width: 0px;
    }

    100%{
        width: 50px;
    }
}

@keyframes slide-in-text{
    0%{
        padding-left: 0px;
    }

    100%{
        padding-left: 60px;
    }
}

@media(min-width:350px){
    h1 span.greeting{
        animation: slide-in-text 0.7s ease-out;
    }
    
    h1 span.greeting::before{
        animation: slide-in-line 0.7s ease-out;
    }
}

@media(min-width: 1025px){
    .portfolio-gallery li{
        border-radius: 5%;
        box-sizing:border-box;
        transition: all 1s ease-out;
        padding-bottom: 5px;
    }
    
    .portfolio-gallery li:hover{
        border: #242b58 2px solid;
        transform: scale(1.05);
        
    }
}